<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron Demo</title>

    <link href="app.css" rel="stylesheet" type="text/css">
    <script src="vue.js"></script>
</head>
<body>
    <div id="app" class="h-screen box-content flex flex-col justify-between">
        <header>
            <h1 class="text-3xl text-center">AWS Uploader</h1>
        </header>
        <main class="container m-auto flex-grow">
            <form action="" class="m-4 md:w-full mx-w-md bg-gray-100 rounded-lg shadow-md py-1">
                <tw-input v-for="(field, key) in fields" :key="key" v-bind:field.sync="field"
                ></tw-input>
                <div class="text-center">
                    <button @click.prevent="startStop" 
                        class="py-2 px-4 text-xl bg-white border-1 shadow-sm rounded-lg m-4"
                    >{{ running ? 'Stop' : 'Start' }}</button>
                </div>
            </form>
        </main>
        <footer class="bg-black p-4 overflow-auto" style="height: 25%;">
            <code id="logs" class="text-green-500" style="white-space: pre-wrap;">
                {{ log }}
            </code>
        </footer>
    </div>

    <script>
        const logs = document.getElementById('logs')
        Vue.component('tw-input', {
            props: ['field'],
            template: `
                <div class="bg-white rounded-lg m-4">
                    <p class=" p-2 text-xl text-center">
                        <label :for="field.name">{{ field.label }}</label>
                    </p>
                    <p class="border-b-2 border-gray-400 p-2">
                        <input :type="field.type" :name="field.name" v-model="field.value"
                            class="p-2 bg-gray-200 w-full text-center"
                        >
                    </p>
                </div>
            `
        })
        window.app = new Vue({
            el: "#app",
            data() {
                return {
                    fields: {
                        bucket: {
                            label: 'Bucket',
                            name: 'bucketInput',
                            type: 'text',
                            value: 'tls-pr-test'
                        },
                        prefix: {
                            label: 'Prefix',
                            name: 'prefixInput',
                            type: 'text',
                            value: 'uploader'
                        },
                        folder: {
                            label: 'Local Folder',
                            name: 'folderInput',
                            type: 'text',
                            value: '/Users/paulrenshaw/code/electron-demo/test_files'
                        }
                    },
                    logs: ['// logs go here'],
                    running: false
                }
            },
            computed: {
                log() {
                    return this.logs.join('\n')
                }
            },
            methods: {
                startStop() {
                    if (this.running) {
                        window.watcher.close()
                        this.logsArray.push('...watcher stopped!')
                        this.running = false
                    } else {
                        window.startWatcher(this.fields.folder.value, { 
                            bucket: this.fields.bucket.value,
                            prefix: this.fields.prefix.value
                        })
                    }
                    
                }
            }
        })
    </script>
</body>
</html>